
body {
    margin: 0px;
    padding: 50px 0 0 0;
    overflow-x: hidden;
}

.navbar-default {
    background-color: #212121;
    background-image: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 20px;
}

#uv {
    display: none;
    height: 480px;
}

#uv .close {
    opacity: 1;
}

#uv .label {
    display: block;
    line-height: 17px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

#uv .uv-virtex-extension .headerPanel {
    height: 1px;
}

#uv .uv-virtex-extension .headerPanel .options {
    background: none;
}

#uv .uv-virtex-extension .uv-icon-settings {
    display: none;
}

#uv .centerPanel .title {
    padding-top: 8px;
    font-size: 18px;
}

#uv .centerPanel .attribution .title {
    font-size: 11px;
}

iiif-gallery {
    margin: 20px;
}